In [1]:
import pandas as pd
import numpy as np

# Suppressing Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
master_df = pd.read_csv('telecom_churn_data.csv')
master_df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [3]:
master_df.shape

(99999, 226)

In [4]:
master_df.describe()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
count,9.999900e+04,99999.0,98981.0,98981.0,98981.0,99999.000000,99999.000000,99999.000000,99999.000000,96062.000000,...,99999.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000
mean,7.001207e+09,109.0,0.0,0.0,0.0,282.987358,278.536648,279.154731,261.645069,132.395875,...,0.084581,0.914404,0.908764,0.890808,0.860968,1219.854749,68.170248,66.839062,60.021204,3.299373
std,6.956694e+05,0.0,0.0,0.0,0.0,328.439770,338.156291,344.474791,341.998630,297.207406,...,0.650457,0.279772,0.287950,0.311885,0.345987,954.733842,267.580450,271.201856,253.938223,32.408353
min,7.000000e+09,109.0,0.0,0.0,0.0,-2258.709000,-2014.045000,-945.808000,-1899.505000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000606e+09,109.0,0.0,0.0,0.0,93.411500,86.980500,84.126000,62.685000,7.380000,...,0.000000,1.000000,1.000000,1.000000,1.000000,467.000000,0.000000,0.000000,0.000000,0.000000
50%,7.001205e+09,109.0,0.0,0.0,0.0,197.704000,191.640000,192.080000,176.849000,34.310000,...,0.000000,1.000000,1.000000,1.000000,1.000000,863.000000,0.000000,0.000000,0.000000,0.000000
75%,7.001812e+09,109.0,0.0,0.0,0.0,371.060000,365.344500,369.370500,353.466500,118.740000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1807.500000,0.000000,0.000000,0.000000,0.000000
max,7.002411e+09,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,38805.617000,7376.710000,...,49.000000,1.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.210000,2618.570000

In [5]:
master_df.isnull().sum()

mobile_number               0
circle_id                   0
loc_og_t2o_mou           1018
std_og_t2o_mou           1018
loc_ic_t2o_mou           1018
last_date_of_month_6        0
last_date_of_month_7      601
last_date_of_month_8     1100
last_date_of_month_9     1659
arpu_6                      0
arpu_7                      0
arpu_8                      0
arpu_9                      0
onnet_mou_6              3937
onnet_mou_7              3859
onnet_mou_8              5378
onnet_mou_9              7745
offnet_mou_6             3937
offnet_mou_7             3859
offnet_mou_8             5378
offnet_mou_9             7745
roam_ic_mou_6            3937
roam_ic_mou_7            3859
roam_ic_mou_8            5378
roam_ic_mou_9            7745
roam_og_mou_6            3937
roam_og_mou_7            3859
roam_og_mou_8            5378
roam_og_mou_9            7745
loc_og_t2t_mou_6         3937
                        ...
arpu_2g_9               74077
night_pck_user_6        74846
night_pck_user_7        74428
night_pck_user_8        73660
night_pck_user_9        74077
monthly_2g_6                0
monthly_2g_7                0
monthly_2g_8                0
monthly_2g_9                0
sachet_2g_6                 0
sachet_2g_7                 0
sachet_2g_8                 0
sachet_2g_9                 0
monthly_3g_6                0
monthly_3g_7                0
monthly_3g_8                0
monthly_3g_9                0
sachet_3g_6                 0
sachet_3g_7                 0
sachet_3g_8                 0
sachet_3g_9                 0
fb_user_6               74846
fb_user_7               74428
fb_user_8               73660
fb_user_9               74077
aon                         0
aug_vbc_3g                  0
jul_vbc_3g                  0
jun_vbc_3g                  0
sep_vbc_3g                  0
Length: 226, dtype: int64

In [6]:
rech_column_names = [x for x in master_df.columns if 'rech' in x]
rech_column_names

['total_rech_num_6',
 'total_rech_num_7',
 'total_rech_num_8',
 'total_rech_num_9',
 'total_rech_amt_6',
 'total_rech_amt_7',
 'total_rech_amt_8',
 'total_rech_amt_9',
 'max_rech_amt_6',
 'max_rech_amt_7',
 'max_rech_amt_8',
 'max_rech_amt_9',
 'date_of_last_rech_6',
 'date_of_last_rech_7',
 'date_of_last_rech_8',
 'date_of_last_rech_9',
 'date_of_last_rech_data_6',
 'date_of_last_rech_data_7',
 'date_of_last_rech_data_8',
 'date_of_last_rech_data_9',
 'total_rech_data_6',
 'total_rech_data_7',
 'total_rech_data_8',
 'total_rech_data_9',
 'max_rech_data_6',
 'max_rech_data_7',
 'max_rech_data_8',
 'max_rech_data_9',
 'count_rech_2g_6',
 'count_rech_2g_7',
 'count_rech_2g_8',
 'count_rech_2g_9',
 'count_rech_3g_6',
 'count_rech_3g_7',
 'count_rech_3g_8',
 'count_rech_3g_9',
 'av_rech_amt_data_6',
 'av_rech_amt_data_7',
 'av_rech_amt_data_8',
 'av_rech_amt_data_9']

In [7]:
filtered_df = master_df.copy()
filtered_df.shape

(99999, 226)

In [8]:
filtered_df['av_rech_first_2_mnth'] = (filtered_df['total_rech_amt_6'] + filtered_df['total_rech_amt_7'])/2
filtered_df.shape

(99999, 227)

In [9]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 227 entries, mobile_number to av_rech_first_2_mnth
dtypes: float64(180), int64(35), object(12)
memory usage: 173.2+ MB

In [10]:
(filtered_df.isnull().sum()*100/len(filtered_df.index)).sort_values(ascending=False)

date_of_last_rech_data_6    74.846748
fb_user_6                   74.846748
max_rech_data_6             74.846748
night_pck_user_6            74.846748
total_rech_data_6           74.846748
arpu_2g_6                   74.846748
arpu_3g_6                   74.846748
count_rech_2g_6             74.846748
count_rech_3g_6             74.846748
av_rech_amt_data_6          74.846748
fb_user_7                   74.428744
arpu_2g_7                   74.428744
av_rech_amt_data_7          74.428744
night_pck_user_7            74.428744
max_rech_data_7             74.428744
total_rech_data_7           74.428744
count_rech_2g_7             74.428744
count_rech_3g_7             74.428744
date_of_last_rech_data_7    74.428744
arpu_3g_7                   74.428744
count_rech_2g_9             74.077741
arpu_2g_9                   74.077741
av_rech_amt_data_9          74.077741
night_pck_user_9            74.077741
arpu_3g_9                   74.077741
count_rech_3g_9             74.077741
max_rech_data_9             74.077741
total_rech_data_9           74.077741
fb_user_9                   74.077741
date_of_last_rech_data_9    74.077741
                              ...
jul_vbc_3g                   0.000000
jun_vbc_3g                   0.000000
vol_2g_mb_9                  0.000000
vol_2g_mb_8                  0.000000
vol_2g_mb_7                  0.000000
vol_2g_mb_6                  0.000000
total_og_mou_8               0.000000
total_og_mou_9               0.000000
sep_vbc_3g                   0.000000
total_ic_mou_6               0.000000
total_ic_mou_7               0.000000
total_ic_mou_8               0.000000
total_ic_mou_9               0.000000
total_rech_num_6             0.000000
total_rech_num_7             0.000000
total_rech_num_8             0.000000
total_rech_num_9             0.000000
total_rech_amt_6             0.000000
total_rech_amt_7             0.000000
total_rech_amt_8             0.000000
total_rech_amt_9             0.000000
max_rech_amt_6               0.000000
max_rech_amt_7               0.000000
max_rech_amt_8               0.000000
max_rech_amt_9               0.000000
last_day_rch_amt_6           0.000000
last_day_rch_amt_7           0.000000
last_day_rch_amt_8           0.000000
last_day_rch_amt_9           0.000000
mobile_number                0.000000
Length: 227, dtype: float64

In [11]:
numeric_cols = filtered_df.select_dtypes(exclude=['object']).columns
numeric_cols

Index(['mobile_number', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou',
       'loc_ic_t2o_mou', 'arpu_6', 'arpu_7', 'arpu_8', 'arpu_9', 'onnet_mou_6',
       ...
       'fb_user_6', 'fb_user_7', 'fb_user_8', 'fb_user_9', 'aon', 'aug_vbc_3g',
       'jul_vbc_3g', 'jun_vbc_3g', 'sep_vbc_3g', 'av_rech_first_2_mnth'],
      dtype='object', length=215)

In [12]:
filtered_df[numeric_cols]=filtered_df[numeric_cols].fillna(0)
(filtered_df.isnull().sum()*100/len(filtered_df.index)).sort_values(ascending=False)

date_of_last_rech_data_6    74.846748
date_of_last_rech_data_7    74.428744
date_of_last_rech_data_9    74.077741
date_of_last_rech_data_8    73.660737
date_of_last_rech_9          4.760048
date_of_last_rech_8          3.622036
date_of_last_rech_7          1.767018
last_date_of_month_9         1.659017
date_of_last_rech_6          1.607016
last_date_of_month_8         1.100011
last_date_of_month_7         0.601006
isd_og_mou_6                 0.000000
spl_og_mou_7                 0.000000
spl_og_mou_6                 0.000000
isd_og_mou_9                 0.000000
isd_og_mou_8                 0.000000
isd_og_mou_7                 0.000000
spl_og_mou_8                 0.000000
spl_og_mou_9                 0.000000
og_others_6                  0.000000
av_rech_first_2_mnth         0.000000
std_og_mou_8                 0.000000
std_og_mou_9                 0.000000
og_others_8                  0.000000
std_og_mou_7                 0.000000
std_og_mou_6                 0.000000
std_og_t2c_mou_9             0.000000
std_og_t2c_mou_8             0.000000
std_og_t2c_mou_7             0.000000
std_og_t2c_mou_6             0.000000
                              ...
std_ic_t2f_mou_9             0.000000
std_ic_t2f_mou_8             0.000000
ic_others_8                  0.000000
ic_others_9                  0.000000
total_rech_num_6             0.000000
total_rech_num_7             0.000000
count_rech_2g_6              0.000000
max_rech_data_9              0.000000
max_rech_data_8              0.000000
max_rech_data_7              0.000000
max_rech_data_6              0.000000
total_rech_data_9            0.000000
total_rech_data_8            0.000000
total_rech_data_7            0.000000
total_rech_data_6            0.000000
last_day_rch_amt_9           0.000000
last_day_rch_amt_8           0.000000
last_day_rch_amt_7           0.000000
last_day_rch_amt_6           0.000000
max_rech_amt_9               0.000000
max_rech_amt_8               0.000000
max_rech_amt_7               0.000000
max_rech_amt_6               0.000000
total_rech_amt_9             0.000000
total_rech_amt_8             0.000000
total_rech_amt_7             0.000000
total_rech_amt_6             0.000000
total_rech_num_9             0.000000
total_rech_num_8             0.000000
mobile_number                0.000000
Length: 227, dtype: float64

In [13]:
# Now we need to impute the missing values for date column

In [14]:
filtered_df.isnull().sum(axis=1).value_counts().sort_index(ascending=False)

11       57
10      439
9       236
8       293
7       251
6       885
5      4699
4     53493
3     11762
2      7797
1      7228
0     12859
dtype: int64

In [15]:
# Finding out high value customers
filtered_df['av_rech_first_2_mnth'] = filtered_df['av_rech_first_2_mnth'].fillna(0)
hvcustomer_df = filtered_df[filtered_df['av_rech_first_2_mnth'] > np.percentile(filtered_df['av_rech_first_2_mnth'],70)]
hvcustomer_df.shape

(29979, 227)

In [16]:
#hvcustomer_df['total_ic_mou_9'] = hvcustomer_df['total_ic_mou_9'].fillna(0)
#hvcustomer_df['total_og_mou_9'] = hvcustomer_df['total_og_mou_9'].fillna(0)
#hvcustomer_df['vol_2g_mb_9'] = hvcustomer_df['vol_2g_mb_9'].fillna(0)
#hvcustomer_df['vol_3g_mb_9'] = hvcustomer_df['vol_3g_mb_9'].fillna(0)

# Defining Churn based on last month data

def defineChrun(row):
    if (row['total_ic_mou_9']>0) and (row['total_og_mou_9']>0) and (row['vol_2g_mb_9']>0) and (row['vol_3g_mb_9']>0):
        return 0
    else:
        return 1

hvcustomer_df['Churn'] = hvcustomer_df.apply(defineChrun, axis=1)

hvcustomer_df['Churn'].value_counts()

1    23705
0     6274
Name: Churn, dtype: int64

In [17]:
hvcustomer_df.shape

(29979, 228)

In [18]:
# removing all attributes with '_9' as mentioned
cols_to_drop = [x for x in hvcustomer_df.columns if '_9' in x]
cols_to_drop

['last_date_of_month_9',
 'arpu_9',
 'onnet_mou_9',
 'offnet_mou_9',
 'roam_ic_mou_9',
 'roam_og_mou_9',
 'loc_og_t2t_mou_9',
 'loc_og_t2m_mou_9',
 'loc_og_t2f_mou_9',
 'loc_og_t2c_mou_9',
 'loc_og_mou_9',
 'std_og_t2t_mou_9',
 'std_og_t2m_mou_9',
 'std_og_t2f_mou_9',
 'std_og_t2c_mou_9',
 'std_og_mou_9',
 'isd_og_mou_9',
 'spl_og_mou_9',
 'og_others_9',
 'total_og_mou_9',
 'loc_ic_t2t_mou_9',
 'loc_ic_t2m_mou_9',
 'loc_ic_t2f_mou_9',
 'loc_ic_mou_9',
 'std_ic_t2t_mou_9',
 'std_ic_t2m_mou_9',
 'std_ic_t2f_mou_9',
 'std_ic_t2o_mou_9',
 'std_ic_mou_9',
 'total_ic_mou_9',
 'spl_ic_mou_9',
 'isd_ic_mou_9',
 'ic_others_9',
 'total_rech_num_9',
 'total_rech_amt_9',
 'max_rech_amt_9',
 'date_of_last_rech_9',
 'last_day_rch_amt_9',
 'date_of_last_rech_data_9',
 'total_rech_data_9',
 'max_rech_data_9',
 'count_rech_2g_9',
 'count_rech_3g_9',
 'av_rech_amt_data_9',
 'vol_2g_mb_9',
 'vol_3g_mb_9',
 'arpu_3g_9',
 'arpu_2g_9',
 'night_pck_user_9',
 'monthly_2g_9',
 'sachet_2g_9',
 'monthly_3g_9',
 'sachet_3g_9',
 'fb_user_9']

In [19]:
hvcustomer_df.drop(columns=cols_to_drop, inplace=True)
hvcustomer_df.shape

(29979, 174)

In [20]:
(hvcustomer_df.isnull().sum()*100/len(hvcustomer_df.index)).sort_values(ascending=False)

date_of_last_rech_data_6    62.016745
date_of_last_rech_data_7    61.132793
date_of_last_rech_data_8    60.835918
date_of_last_rech_8          1.981387
last_date_of_month_8         0.523700
date_of_last_rech_7          0.380266
date_of_last_rech_6          0.206811
last_date_of_month_7         0.103406
Churn                        0.000000
og_others_6                  0.000000
spl_og_mou_8                 0.000000
spl_og_mou_7                 0.000000
spl_og_mou_6                 0.000000
isd_og_mou_8                 0.000000
isd_og_mou_7                 0.000000
std_og_mou_8                 0.000000
isd_og_mou_6                 0.000000
og_others_8                  0.000000
std_og_mou_7                 0.000000
std_og_mou_6                 0.000000
std_og_t2c_mou_8             0.000000
std_og_t2c_mou_7             0.000000
std_og_t2c_mou_6             0.000000
og_others_7                  0.000000
total_og_mou_6               0.000000
std_og_t2f_mou_7             0.000000
loc_ic_t2f_mou_8             0.000000
std_ic_t2m_mou_7             0.000000
std_ic_t2m_mou_6             0.000000
std_ic_t2t_mou_8             0.000000
                              ...
total_ic_mou_7               0.000000
total_ic_mou_6               0.000000
std_ic_mou_8                 0.000000
std_ic_mou_7                 0.000000
std_ic_mou_6                 0.000000
std_ic_t2o_mou_8             0.000000
std_ic_t2o_mou_7             0.000000
av_rech_first_2_mnth         0.000000
ic_others_8                  0.000000
total_rech_num_7             0.000000
count_rech_2g_8              0.000000
total_rech_num_8             0.000000
count_rech_2g_7              0.000000
count_rech_2g_6              0.000000
max_rech_data_8              0.000000
max_rech_data_7              0.000000
max_rech_data_6              0.000000
total_rech_data_8            0.000000
total_rech_data_7            0.000000
total_rech_data_6            0.000000
last_day_rch_amt_8           0.000000
last_day_rch_amt_7           0.000000
last_day_rch_amt_6           0.000000
max_rech_amt_8               0.000000
max_rech_amt_7               0.000000
max_rech_amt_6               0.000000
total_rech_amt_8             0.000000
total_rech_amt_7             0.000000
total_rech_amt_6             0.000000
mobile_number                0.000000
Length: 174, dtype: float64

In [21]:
# let's drop the date columns which has more than 50% of missing data
hvcustomer_df.drop(columns=['date_of_last_rech_data_6', 'date_of_last_rech_data_7', 'date_of_last_rech_data_8'], inplace=True)
(hvcustomer_df.isnull().sum()*100/len(hvcustomer_df.index)).sort_values(ascending=False)

date_of_last_rech_8     1.981387
last_date_of_month_8    0.523700
date_of_last_rech_7     0.380266
date_of_last_rech_6     0.206811
last_date_of_month_7    0.103406
Churn                   0.000000
og_others_7             0.000000
og_others_6             0.000000
spl_og_mou_8            0.000000
spl_og_mou_7            0.000000
spl_og_mou_6            0.000000
isd_og_mou_8            0.000000
isd_og_mou_7            0.000000
isd_og_mou_6            0.000000
total_og_mou_6          0.000000
std_og_mou_8            0.000000
std_og_mou_7            0.000000
std_og_mou_6            0.000000
std_og_t2c_mou_8        0.000000
std_og_t2c_mou_7        0.000000
std_og_t2c_mou_6        0.000000
std_og_t2f_mou_8        0.000000
og_others_8             0.000000
total_og_mou_7          0.000000
std_og_t2f_mou_6        0.000000
total_og_mou_8          0.000000
std_ic_t2m_mou_7        0.000000
std_ic_t2m_mou_6        0.000000
std_ic_t2t_mou_8        0.000000
std_ic_t2t_mou_7        0.000000
                          ...
total_ic_mou_7          0.000000
total_ic_mou_6          0.000000
std_ic_mou_8            0.000000
std_ic_mou_7            0.000000
std_ic_mou_6            0.000000
std_ic_t2o_mou_8        0.000000
std_ic_t2o_mou_7        0.000000
std_ic_t2o_mou_6        0.000000
ic_others_8             0.000000
total_rech_num_7        0.000000
count_rech_2g_8         0.000000
total_rech_num_8        0.000000
count_rech_2g_7         0.000000
count_rech_2g_6         0.000000
max_rech_data_8         0.000000
max_rech_data_7         0.000000
max_rech_data_6         0.000000
total_rech_data_8       0.000000
total_rech_data_7       0.000000
total_rech_data_6       0.000000
last_day_rch_amt_8      0.000000
last_day_rch_amt_7      0.000000
last_day_rch_amt_6      0.000000
max_rech_amt_8          0.000000
max_rech_amt_7          0.000000
max_rech_amt_6          0.000000
total_rech_amt_8        0.000000
total_rech_amt_7        0.000000
total_rech_amt_6        0.000000
mobile_number           0.000000
Length: 171, dtype: float64

In [ ]:
# we need to manipulate the further missing values of dates